
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    
    background-image: url(imagenes/ganador.jpg);
    background-size: contain;
    background-repeat: repeat;
    background-position-x: center;
}

header{
    /* background-color: yellow;*/
    height: 20vh;
    text-align: center;
    font-size: 3rem;
    padding: 100px;
    
}
    

.contenedorPrincipal{
    /*background-color: chartreuse;*/
    height: 75vh;
}

.menuPrincipal{
    /*background-color: aliceblue;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 3rem;
}

.menuPrincipal_input{
    /*background-color: lightcoral;*/
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 4rem;
    
}

    input{
        height: 30%;
        width: 30%;
        text-align: center;
        font-size: 1.75rem;
        font-weight: 600;
        border-radius: 10px;
        
    }

    .selector{
        height: 30%;
        width: 30%;
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        border-radius: 10px;
        
    }
    


.sorteo{
    /*background-color: lightblue;*/
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    font-size: 3rem;
    color: rgb(238, 234, 8);
}
    


.btn{
    background-color: aqua;
    width: 15%;
    height: 10%;
    border-radius: 10px;
    font-size: 2rem;
    cursor: pointer;
    border: blue solid 2px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        
}

.btn:hover{
    background-color: lightblue;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

footer{
    /*background-color: burlywood;*/
    height: 5vh;
    text-align: center;
    font-size: 2.5rem;
    padding: 15px 0 10px 0;
}

@media(max-width: 1080px) {

   body{
    
    background-image: url(imagenes/ganador.jpg);
    background-size: 130vh;
    background-repeat: no-repeat;
    background-position: center;    
} 
   
    header{
        
        margin-top: 30px;
        padding: 5px;
        font-size: 1rem;
    }

    .titulos{
        font-size: 1.5rem;
    }

    .sorteo{
        color: tomato;
    }

    li{
        font-size: 2rem;
        
    }

    .btn{
        width: 40%;
        height: 40%;
        font-size: 1.25rem;
    }

    #prueba{
        margin-top: 50px;
        font-size: 1.75rem;
        
    }

    .contenedorPrincipal{
        height: auto;
        display: block;
        padding: 20px 0 20px 0;
    }

    .nomSorteo{
        font-size: 1.5rem;
    }

    
        
    .menuPrincipal_input{
        
        gap: 20px;
        width: 110%;
        height: 20%;
       
        
    }

    .menuPrincipal_input input{
        font-size: 0.5rem;
        height: 30px;
    }
  
    
    
    
   
     
    .selector{
        font-size: 0.75rem;
        height: 40%;
        width: 30%;
    }
   


    footer{
        font-size: 1.25rem;
    }
}